body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  width: 100%;
  height: 1049px;
  background-color: #128A86;
}

.logo{
  width: 75px;
  height: 75px;
  float: left;
}

.logo_img{
  width: 150px;
}

.lock{
  margin-left: -790px;
  margin-top: -35px;
  float: left;
   z-index: 2;
   position: absolute;

}

.student-teacher{
  width: 100px;
  height: 50px;
}

.email_img{
  margin-left: -790px;
  margin-top: 32px;
  float: left;
   z-index: 2;
   position: absolute;

}

.SearchBar{
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50px;
  float: right;
  margin-right: 45px;
  margin-top: 10px;
  padding-left: 50px;

}

.search_icon{
  width: 50px;
  height: 30px;
  border-radius: 50px;
  z-index: 2;
  position: absolute;

}

.search-img{
  width: 20px;
  margin-top: 20px;
  margin-left: 1680px;
}

.logout{
  width: 50px;
  height: 50px;
  float:right ;
  margin-right: 15px;
}

.logout_img{
  width: 40px;
  margin-top: 5px;
}

.login_container{
  width: 100%;
  height: 800px;

  float: left;
}

.Welcome_h1{
  font-size: 60px;
  color:#ffffff;
  text-align: center;
  margin-top: 150px;
}

.email_input{
  width: 340px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  margin-right: 400px;
  margin-top: 100px;
  border: none;
  margin-left: 40.5%;
  padding-left: 60px;
}

.password_input{
  width: 340px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  margin-right: 400px;
  margin-top: 20px;
  border: none;
  margin-left: 40.5%;
  padding-left: 60px;
}

.email_icon{
  width: 40px;
  height: 40px;
  background-color: #ff0000;
}

.forgot{
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  margin-left: 250px;
  text-decoration: underline;
}

.login_btn{
  width: 200px;
  font-size: 26px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  padding-top: 5px;
  background-color: #E03D42 ;
margin-left: 920px;
margin-top: 50px;
color: #ffffff;
}

.new_user{
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

.student_container{
  width: 100%;
  height: 950px;

  float: left;
}

.classes{
  color: #ffffff;
  margin-top: 25px;
  margin-left: 30px;
}

.profile{
  width: 250px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 20px;
  float: left;
}

.pfp{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: black;
  margin-top: 35px;
  margin-left: 50px;
  float: left;
  margin-right: 20px;
}

.name{
  margin-top: 55px;
  text-align: center;

}

.title{
  margin-top: 25px;
  font-size: 16px;
  text-align: center;
}

.singleClass_teacher{
  width: 73%;
  height: 30px;
  background-color: #107975;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-left: 3%;
  color: white;
  padding-top: 10px;
  padding: 7px;
  float: left;
}


.period_container_teacher{
  width: 80%;
  height: 660px;
  float: left;
  margin-left: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow-y: scroll;
}

.id_h1_teacher{
  float: left;
  font-size: 16px;
  margin-left: 60px;
  margin-top: 25px;
  }
  
  .slot_h1_teacher{
    float: left;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 25px;
  }
  
  .subject_h1_teacher{
    float: left;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 25px;
  }
  
  .group_h1_teacher{
    float: left;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 25px;
  }
  
  .classroom_h1_teacher{
    float: left;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 25px;
  }

  .link_h1_teacher{
    float: left;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 25px;
  }



.period_container{
  width: 50%;
  height: 660px;
  float: left;
  margin-left: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow-y: scroll;
}

.id_h1{
float: left;
font-size: 16px;
margin-left: 60px;
margin-top: 25px;
}

.slot_h1{
  float: left;
  font-size: 16px;
  margin-left: 150px;
  margin-top: 25px;
}

.subject_h1{
  float: left;
  font-size: 16px;
  margin-left: 150px;
  margin-top: 25px;
}

.group_h1{
  float: left;
  font-size: 16px;
  margin-left: 150px;
  margin-top: 25px;
}

.classroom_h1{
  float: right;
  font-size: 16px;
  margin-right: 120px;
  margin-top: 25px;
}

.line{
  background-color: black;
  width: 95%;
  height: 1px;
  float: left;
  margin-left: 2.5%;

}

.active{
border: 2px solid #00f7ff;
}










.teacher_container{
  width: 100%;
  height: 950px;

  float: left;
}

.classes_t{
  color: #ffffff;
  margin-top: 25px;
  margin-left: 30px;
}

.profile_t{
  width: 250px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 20px;
  float: left;
}

.pfp_t{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-color: black;
  margin-top: 35px;
  margin-left: 50px;
  float: left;
}

.name_t{
  margin-top: 55px;
  text-align: center;

}

.title_t{
  margin-top: 25px;
  font-size: 16px;
  text-align: center;
}


.period1{
width: 200px;
height: 30px;
background-color: #ffffff;
float: left;
margin-left: 5px;
text-align: center;
border-radius: 5px;
padding-top: 5px;
margin-top: 5px;
}

.period2{
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  float: left;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
}

.period3{
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  float: left;
  margin-left: 5px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
}

.period4{
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  float: left;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
}

.period5{
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  float: left;
  margin-left: 5px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
}

.break{
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  float: left;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
}

.period6{
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  float: left;
  margin-left: 5px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
}

.period7{
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  float: left;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
}

.period8{
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  float: left;
  margin-left: 5px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
}

.period9{
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  float: left;
  margin-left: 15px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: 5px;
}


.subject_t{
  color: #ffffff;
  font-size: 26px;
  float: left;
  margin-left: 25px;
}

.googlemeet_t{
  color: #ffffff;
  font-size: 26px;
  float: left;
  margin-left: -95px;
}

.subject_input{
  float: left;
  margin-top: 15px;
  margin-left: 130px;
  width: 420px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-right: 600px;
}

.google_input{
  float: left;
  margin-top: 15px;
  margin-left: 60px;
  width: 420px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.create_class_btn{
  background-color: #E03D42;
  width: 150px;
  height: 30px;
  float: left;
  text-align: center;
  color: #ffffff;
  padding-top: 8px;
  border-radius: 5px;
  margin-top: 200px;
  margin-left: -150px;
}

.singleClass{
  width: 95%;
  height: 30px;
  background-color: #107975;
  margin-bottom: 5px;
  border-radius: 10px;
  margin-left: 3%;
  color: white;
  padding-top: 10px;

}

.labels1{
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 35px;
  margin-right: 50px;
}

.labels2{
  width: 50px;
  height: 20px;
  float: left;  
  margin-left: 110px;
  margin-right: 50px;
}

.labels3{
  width: 200px;
  height: 20px;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
}

.labels4{
  width: 50px;
  height: 20px;
  float: left;
  margin-left: 10px;
  margin-right: 50px;
}

.labels5{
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 100px;
  margin-right: 50px;
}




.spacer{
  margin-bottom: 70px;
}

.student-btn{
  height: 32px;
  width: 180px;
  border-radius: 25px;
  background-color: #1EBBB5;
  float: left;
  margin-top: 50px;
  margin-left: 830px;
  text-align: center;
  color: white;
  padding-top:8px;
}

.teacher-btn{
  height: 32px;
  width: 180px;
  border-radius: 25px;
  background-color: #1EBBB5;
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  text-align: center;
  color: white;
  padding-top:8px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

.slot_edit{
  width: 100px;
  height: 20px;
  float: left;
  margin-top: 12px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
}
.subject_edit{
  width: 100px;
  height: 20px;
  float: left;
  margin-top: 12px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.group_edit{
  width: 100px;
  height: 20px;
  float: left;
  margin-top: 12px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
}
.classroom_edit{
  width: 100px;
  height: 20px;
  float: left;
  margin-top: 12px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
}
.link_edit{
  width: 100px;
  height: 20px;
  float: left;
  margin-top: 12px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

.slot_edit_input{
  width: 190px;
  height: 30px;
  float: left;
  margin-top: 8px;
  border-radius: 5px;
border: none;
margin-left: -20px;
}

.subject_edit_input{
  width: 190px;
  height: 30px;
  float: left;
  margin-top: 8px;
  border-radius: 5px;
border: none;
margin-left: -20px;
}

.group_edit_input{
  width: 190px;
  height: 30px;
  float: left;
  margin-top: 8px;
  border-radius: 5px;
border: none;
margin-left: -20px;
}

.classroom_edit_input{
  width: 190px;
  height: 30px;
  float: left;
  margin-top: 8px;
  border-radius: 5px;
border: none;
margin-left: -20px;
}

.link_edit_input{
  width: 190px;
  height: 30px;
  float: left;
  margin-top: 8px;
  border-radius: 5px;
border: none;
margin-left: -20px;
}


.slot_container{
  width: 300px;
  height: 50px;
  float:left;
  top:550px;
  margin-left: 1300px;
  background-color: teal;
  border-radius: 5px;
  position: fixed;

}




.add_btn{
  float: left;
  top: 600px;
  width: 300px;
  height: 40px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 26px;
  padding-top: 8px;
  margin-left: 1300px;
  position: fixed;

}


.save_btn{
  float: left;
  top: 660px;
  width: 300px;
  height: 40px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 26px;
  padding-top: 8px;
  margin-left: 1300px;
  position: fixed;

}

.labels1_teacher{
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 35px;

}

.labels2_teacher{
  width: 10px;
  height: 20px;
  float: left;  
  margin-left: 30px;
  margin-right: 50px;
}

.labels3_teacher{
  width: 200px;
  height: 20px;
  float: left;
  margin-left: 50px;
  margin-right: 5px;
}

.labels4_teacher{
  width: 50px;
  height: 20px;
  float: left;
  margin-left: 10px;
  margin-right: 50px;
}

.labels5_teacher{
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 70px;
  margin-right: 50px;
}
.labels6_teacher{
  width: 200px;
  height: 20px;
  float: left;
  margin-left: 70px;
  margin-right: 50px;
  font-size: 10px;
}

.edit-btn{
  width: 60px;
  height: 30px;
  background-color: rgb(1, 194, 194);
  float: left;
  margin-top: -7px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-left: 10px;
  margin-top: -2px;

}

.delete-btn{
  width: 60px;
  height: 30px;
  background-color: rgb(214, 0, 0);
  float: left;
  margin-top: -7px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  margin-left: 20px;
  margin-top: -2px;

}

.chevron1{
  background-color: rgb(255, 255, 255);
  width: 2px;
  height: 12px;
  float: left;
  transform: rotate(-45deg);
  margin-top: -35px;
  margin-left: 900px;

}

.chevron2{
  background-color: rgb(255, 255, 255);
  width: 2px;
  height: 12px;
  float: left;
  transform: rotate(45deg);
  margin-top: -35px;
  margin-left: 907px;
}


.chevron3{
  width: 15px;
  height: 15px;
  float: left;
  margin-top: -35px;
  margin-left: 898px;
  position: relative;
  z-index: 3;
}

.chevron4{
  width: 15px;
  height: 15px;
  float: left;
  margin-top: -35px;
  margin-left: 898px;
  position: relative;
  z-index: 2;
}


/* #label6{
  width: 300px;
  height: 15px;
  float: left;
  margin-top: 5px;
  margin-left: -15px; 
  margin-left: 350px;
  opacity: 0;
} */

.labels6{
  width: 350px;
  height: 15px;
  float: left;
  margin-top: 5px;
  margin-left: -15px; 
  margin-left: 300px;
  opacity: 0;
  float: left;
}

.lab1{
  width: 89%;
  height: 20px;
  background-color: #107975;
  margin-top: 5px;
  margin-left: 5%;
  float: left;
  color: #ffffff;
  border-radius: 5px;
  padding-left: 5px;
}

.lab2{
  width: 80px;
  height: 20px;
  margin-left: 5%;
  float: left;

 
}

.lab3{
  width: 80px;
  height: 20px;
  margin-left: 15px;
  float: left;

 
}


.slot_index{
  width: 250px;
  height: 840px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 20px;
  float: left;
}
